@import "./colors";

.contact {
    display: block;
    margin: 100px auto 100px;
    .social-container {
        margin: auto {
            left: 50%;
            top: 100px;
        };
        transform: translateX(-50%);
        width: max-content;
        .social {
            display: flex;
            margin-bottom: 25px;
            font-size: 0.9rem;
            p{ 
                margin-left: 30px;
            }
        }
    }
    .emailJS {      
        width: 90%;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        margin-top: 130px;
        .form-group {
            position: relative;
            margin-bottom: 20px;

        label {
            font-size: 0.75rem;           
        }
        input, textarea {
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 1px solid $orange;
            width: 100%;
            &:focus {
                border-bottom: 2px solid $main-medium-blue;
                background: transparent;
            }
        }
        textarea {
            margin-top: 20px;
            min-height: 80px;
        }
     
        input[type=text], input[type=email] {
            width: 90%;
            height: 40px;
        }
        .validation-error {
            font-size: 0.7rem;
            color: red;
        }
    
        }
        .orange-btn {
            display: block;
            margin: 40px auto;
        }
        
        
    }
    .response {
        display: block;
        margin: 0 auto;
        text-align: center;               
        .error {
            color: red;
        }
    }
    
}