@import './colors';

.hero {
    width: 85%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30vh;
    
    p {
        color: #49526C;
        font-size: 1.5rem;
    }
    h1 {
        color: $orange;
        font-size: 2rem;
        margin: 20px 0;
    }
    .orange-btn {
        margin-top: 40px;
    }
}

@media (min-width: 600px) {
    .hero {
        height: 65vh;
        margin-top: 10vh;
        justify-content: flex-end;
        p {
            font-size: calc(1.5rem + 1.231vw -7.385px);
        }
        h1 {
            font-size: calc(2rem + 1.231vw + -7.385px);
        }
    }
   
}
@media (min-width: 1250px) {
    .hero {
        p {
            font-size: calc(1.5rem + 8px);
        }
        h1 {
            font-size: calc(2rem + 8px);
        }
    }
   
}