@import './colors';

.projects {
    margin-top: 150px;
    .experience, .personal-projects{
        max-width: 1300px;
        width: 90%;
        margin: 0 auto;
        .mid-title {            
            margin-bottom: 30px;
            font-size: 1.2rem;
        }
        .company-name {
            font-size: 1.15rem;
            margin-bottom: 20px;
            span {
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
        .job-description {            
            margin-bottom: 30px;
            line-height: 25px;
        }
        .project-title {
            font-size: 1.25rem;
            color: $orange;
            margin-bottom: 30px;
        }
        .project-container {
            .project-img {
                max-width: 400px;
                margin: 0 auto;
                margin-bottom: 20px;
                border-radius: 10px;
                position: relative;                

                img {
                    width: 100%;
                    transition: all 0.5s ease-in-out;
                    backface-visibility: hidden;
                    border-radius: 10px;
                }
                .links-container {
                    display: none;
                    transition: all 0.5s ease-in-out;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    a {
                        border: 1px solid white;
                        padding: 15px;
                        border-radius: 10px;
                        margin: 15px;
                        width: 60px;
                        &:hover {
                            background: $main-dark-blue;
                        }
                        svg {
                            margin: 0 auto;
                            display: block;
                            transform: scale(1.7)
                        }
                    }
                }
                &:hover {
                    background: $main-medium-blue;
                }
                &:hover > img {
                    opacity: 0.3;
                }
                &:hover > .links-container {
                   display: flex;
                }

            }
            .project-info {
                margin-bottom: 50px;

                .project-tech {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 10px;
                    
                    li {
                        margin: 10px;
                        font-family: "Fira Code" ;
                        color: $orange;
                    }

                }
            }
        }
    }
    .orange-btn {
        color: $main-light-blue;
        border: 1px solid $main-light-blue;
        display: block;
        margin: 50px auto;
        min-width: 200px;
        padding: 18px;
        &:hover {
            border: 1px solid $orange;
        }
    }
}
@media (min-width: 600px) {
    .projects {
        .experience, .personal-projects {
            width: 70%;
            margin: 0 auto;
        }
    }
    
}
@media (min-width: 950px) {
    .projects {
        .personal-projects {
            margin-top: 90px;
        }
        .experience, .personal-projects {
            max-width: 1200px;
            .project-container {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                .project-img {
                    width: 40%;
                }
                .project-info {
                    width: 65%;
                    padding: 0 20px;
                }
            }
        }
    }
}