@import './colors';

.orange-btn {
    border: 1px solid $orange;
    border-radius: 10px;
    background: transparent;
    color: $orange;
    padding: 12px 20px;
    font-size: 1rem;
    max-width: 150px;
}

.subtitle {
    overflow-x: hidden;
    font-size: 1.3rem;
    position: relative;
    margin-left: 10%;
    span {
        color: $orange;
        font-size: 1rem;
    }
    &::after {
        content: "";
        height: 1px;
        width: 100vw;
        display: inline-block;
        background: $orange;
        position: absolute;
        top: 10px;
        margin-left: 20px;
    }
}