@import './colors';

.sidebar{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    z-index: 20;

    .social-icon {
        background: transparent;
        border: 1px solid $main-dark-blue;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        padding: 7px 7px;
        cursor: pointer;
        // margin: 0 3%;
        width: 32px;
        &:hover {
            border: 1px solid $orange;
        }
    }
    .social-container {
        position: relative;
        padding: 7px;
        
    }
    .social-info {
        position: absolute;
        width: max-content;
        top: -50%;
        right: 0;
        background-color: $main-dark-blue;
        padding: 5px;
        transition: all 0.5s ease-in-out;
        transform: scaleY(0);
        transform-origin: 0% 100%;
        font-size: 0.7rem;
    }
    .social-open {            
        transform: scaleY(1);
    }   
    svg {
        color: white;
        width: 15px;
    }

}
@media (min-width: 600px) {
    .sidebar {
        flex-direction: column;
        justify-content: flex-start;
        position: fixed;
        bottom: 15%;
        left: 1%;
        width: min-content;
        z-index: 30;
    
        .line {
            height: 100vh;
            width:  0.5px;      
            display: block;
            background: $orange;
            margin-left: 25px;
        }
        .social-icon {
            margin-top: 10px;           
        }   
        .social-info {
            left: 50px;
            top: 40%;
            padding: 5px;           
            display: none;
        }
        .social-open {            
            display: inline;
        }   
    } 
}